
#side{
    height: 500px;
    top: 10px;
}

.nav{
    font-size: 18px;
    font-weight: 12px;
}

.nav:first-child{
    margin-top: 30px;
}

#main{ 
    width: 360px;
    height: 400px;  
    left: 0px;
    top: 580px;
    border-radius:0 40px 40px 0;
}


.onegame{
    margin-top: 8px;
    height: 30px;
    width: 280px;
    padding-left: 15px;
    padding-top: 8px;
    font-size: 15px;
}