body{
    background-color: rgb(35, 35, 82);
}

#side{
    background-color: rgb(38, 39, 71);
    width: 180px;
    height: 660px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    

    position: absolute;
    top: 25px;
    left: 0;

    border-radius: 0 40px 40px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#avatarbox{
    background-color: rgba(241, 173, 173, 0);
    width: 80px;
    height: 80px;
    margin-left: 40px;
    border-radius: 50%;
    border: 10px solid whitesmoke;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

#avatarbox:hover{
    transform: translate(5%, -5%);
    transition: 0.5s;
    transition-delay: 0.2s !important;

    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.15), 0 6px 10px 5px rgba(0, 0, 0, 0.15);
}

#avatar{
    border-radius: 50%;
}


.nav{
    list-style-type: none;
    background-color: rgb(52, 28, 68);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    /* margin-right: 40px; */
    margin-top: 20px;
    width: 120px;

    border-radius: 15px;
    color: whitesmoke;
    font-size: 25px;
    font-weight: 18px;

    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;

}

.nav:hover{
    transform: translate(5%, -10%);
    transition: 0.5s;
    transition-delay: 0.2s !important;

    box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.15), 0 6px 10px 5px rgba(0, 0, 0, 0.15);
}

.nav:first-child{
    margin-top: 40px;
}

#main{
    background-color: rgb(38, 39, 71);
    width: 1200px;
    height: 700px;
    position: absolute;
    left: 280px;
    top: 25px;

    border-radius: 40px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#mypage{
    display: block;
}


.box{
    display: none;
}

li{
    list-style-type:none;
}


.onegame{
    background-color: rgb(47, 54, 86);
    margin-top: 10px;
    height: 40px;
    width: 800px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    cursor: pointer;
    
}

.onegame:active{
    background-color: rgb(32, 38, 65);
}